.boton-btn {
    background-color: #053af8;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.boton2-btn:hover {
    background-color: #ff0505;
}

.nuevo-label {
    font-weight: bold;
    font-size: 1.25rem;
    color: #3490dc;
}

.anuncios {
    font-weight: 100; 
    font-size: 100%;
    color: #263ba7;
}

.tabla-per{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.tabla-per th, .tabla-per td{
    border: 1px solid #0040ff;
    padding: 10px;
    text-align: left;
    margin: 30px;
}

.tabla-per th{
    background-color: aqua;
}

.boton-crud{
    background-color: #057af8;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}

.boton-borrar{
    background-color: #910f0f;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
}
